<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/static/css/admin_style.css">
</head>

<body>
    <div class="center">
        <h2>Change Password</h2>
        <div id="closeBtn" class="close-btn">✖</div>
        <!-- Cross sign -->
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul type="none" style="color: red; margin-left: 40px;">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
        <form id="loginForm" method="post" action="/forgotpassword">
            <div class="txt_field">
                <input type="text" name="uname" required/>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="password" name="pwd" required/>
                <span></span>
                <label>New Password</label>
            </div>
            <input type="submit" value="Update Password" />
            <br><br><br>
        </form>
    </div>

    <script>
        document.getElementById("closeBtn").addEventListener("click", function() {
            window.close();
            window.location.href = "/";
        });
    </script>

</body>

</html>