{% extends "adminHome.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact List</title>
    <link rel="stylesheet" href="/static/css/message.css">

</head>

<body>
    <br><br><br><br><br><br><br><br>

    <div class="container">
        <center>
            <h2>Messages</h2>
        </center>
        <table class="contact-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                <tr>
                    <td>{{ contact[0] }}</td>
                    <td>{{ contact[1] }}</td>
                    <td>{{ contact[2] }}</td>
                    <td>{{ contact[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
{% endblock %}